body {
    font-family: Arial, sans-serif;
    background-color: #b0c4b1;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    color: #333;
}

.container {
    background:#ced4da;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
}

h2 {
    text-align: center;
    color: #444;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-weight: bold;
    margin-top: 10px;
}

input, 
textarea, 
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
}


.radio-group {
    display: flex;
    gap: 1px;
    margin-right: 10px;
    padding: 6px 12px;
    align-items: center;
    font-size: 14px;
}
.checkbox-group {
    display: flex;
    position: relative;
}
.radio-group input, .checkbox-group input {
    width: auto; 
    margin-right: 4px; 
} 
button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 15px;
    font-size: 16px;
}

button[type="submit"] {
    background-color: #2f3e46; 
    color: white;
}

button[type="reset"] {
    background-color: #354f52; 
    color: white;
}

button:hover {
    opacity: 0.9;
}

hr {
    margin: 30px 0;
    border: 0;
    border-top: 1px solid #eee;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    word-wrap: break-word; 
}

table th {
    background-color: #caf0f8;
    color: black;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table button {
    padding: 5px 10px;
    margin: 2px;
    font-size: 14px;
    margin-top: 0;
}

table button:nth-of-type(1) {
    background-color: #f9c74f; 
    color: black;
}

table button:nth-of-type(2){ 
    background-color: #f76c5e;
    color: white;
}



